.trendpostwrapper{
    padding: 10px 90px;
    
}
.trendingPoster{
    width: 100%;
    height: 55vh;
    background-color: white;
}
.trendpostheader{
    padding: 10px 30px 0px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.trendcontent{
    display: flex;
    justify-content: space-between;
    padding: 0 1.875rem;
    flex-wrap: wrap;
}
.trendpostheader h3{
    font-weight: 700;
    font-size: 1.7rem;
    color: black;   
}
.innerTrenPost{
    height: 25vh;
    width: 100%;
    max-width: 30%;
  
}
.trendimage{
    height: 100%;
    width: 100%;
}
.trendimgsize{
    height: 100%;
    width: 100%;
}
.trendpostdata{
    height: 14vh;
    width: 100%;
    padding: 1.5625rem 0px 1.5625rem;
    font-size: 16px;
    font-family: 'Satoshi', sans-serif;

}
.trendpostdata h3{
    font-size: 20px;
    font-weight: 600;
}

@media screen and (min-width:320px) and (max-width:480px){
    .trendpostwrapper{
        padding: 1.25rem;
    }
    .innerTrenPost{
        max-width: 100%;
        height: max-content;
        margin: 0.625rem 0;
    }
    .trendingPoster{
        height: max-content;
    }
    .tre{
        height: max-content;
    }
    .trendpostdata h3{
        font-size: 16px;
    }
    .trendpostdata{
        padding: 0.5rem 0 1.5rem;
    }
}