.fixeddiv{
    position: sticky;
    top: 0;
    z-index: 99;
    width: 100%;
    background-color: #fff;
}
.logosize {
    height: 50px;
    width: 100%;
}

.navbar {
    padding: 0.3125rem 5.625rem;
    background-color: #fff;
}

.input-div {
    border: 1px solid #a09999;
    height: 100%;
    width: 100%;
    max-width: 35rem;
    display: flex;

}

.input_div {
    height: 100%;
    width: 100%;
    padding: 0.4375rem 0.3125rem;
    display: flex;
}

.input_div select:focus {
    border-right: 1px solid;
    outline: none;
}

.input_div input {
    height: 100%;
    width: 100%;
    /* max-width:5%; */
    border: none;
    outline: none;
    padding: 0.5rem 0.625rem;
}

/* .navdiv{
    align-items: ;
} */
.searchdiv {
    /* height: 100%; */
    width: 100%;
    max-width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    color: #fff;
    font-weight: 600;
}

.searchdiv i {
    font-size: 20px;
}

.formdiv {
    width: 100%;
    max-width: 60%;
    border: 1px solid #cdcbcb;
    padding: 2px 0;
}

/* .input_div{
    width: 100%;
    padding: 5px 0;
} */

.icon {
    font-size: 25px;
    color: #000;

}

.shop {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 28.4%;
    height: 50px;
    background-color: #000;
    color: #fff;
    border-right: 1px solid #dad7d7;
    cursor: pointer;
}

.shop:hover {
    background-color: #fff;
    color: #000;
}

.shop h4 {
    text-align: center;
    font-size: 20px;
}

.list {
    width: 100%;
    max-width: 40%;
    margin-right: 13.75rem;
}

.list ul {
    display: flex;
    align-items: center;
    list-style-type: none;
}

.list ul li {
    margin: auto;
    text-transform: uppercase;
    font-weight: 700;
}

.overList {
    height: max-content;
    width: 100%;
    max-width: 20.5%;
    position: absolute;
    left: 12.75rem;
    background-color: #fff;
    /* display: none; */
}

.overList ul {
    list-style-type: none;
    margin: 0 1.25rem;
    padding: 0;
}   

.overList ul li {
    padding: 0.625rem 0.3125rem;
    /* background-color: #000; */
    border-bottom: 1px solid;
}

.overList ul li:hover {
    background-color: #000;
    color: #fff;
}

.listitem {
    font-size: 16px;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.nav-item{
    background-color: #a09999;
    
}
/* .nav-link:active{
    background-color: #000;

} */

.secondsearch {
    display: none;
}
.offcanvasbody{
    display: none;
}

@media screen and (max-width:990px){
    .offcanvasbody{
        display: block;
    }
}

@media screen and (min-width:320px) and (max-width:480px) {
    .navbar {
        padding:0.625rem 0;
    }
    .navbar .formdiv{
        display: none !important;
    }
    .secondnav {
        display: none;
    }

    .navdiv {
        display: none;
    }

    .secondsearch { 
        display: block;
    }

    .secondsearch .formdiv {
        max-width: 100%;
        border: none;
    }

    .secondsearch .searchdiv {
        /* height: 100%; */
        height: auto;
        border-radius: 20px;

    }
    .secondsearch .input_div{
        border: 1px solid #e8e4e4;

    }


}

@media screen and (max-width:780px){
    .navbar{
        display: flex;
        padding: 0;
    }
    .logosize{
        width: 90%;
    }
    
}

@media screen and (max-width:1024px){
    .navbar{
    padding:0.625rem 0rem;
    }
}

@media screen and (max-width:1024px){
    .overList{
        width: 26%;
        left: 3rem;
    }
}