.hero-wrapper{
    height: 70vh;
    width: 100%;
    background-image: url('E:\TryCatch\ecommerceapp\src\Component\images\megastore.jpg');  
    background-size: cover;
    background-position: center;   
} 
.content_wrapper{
    display: flex;
    width: 100%;
    height: 100%;
    padding: 0 90px;
    padding-top: 5.6rem;
}  
.cat_list{
    width: 28.5%;
    /* border: 1px solid; */
    
}
.hero_content{
    width: 100%;
    /* border: 1px solid; */
    text-align: left;
    padding-left: 3.75rem;
    max-width: 35%;
}
.hero_content h2{
    font-size: 3rem;
    font-weight: 700;
    font-family: 'Satoshi', sans-serif;
}
.hero-wrapper button{
    padding: 0.625rem 1.625rem;
    font-size: 14px;
    font-weight: 800;
    background-color: white;
    border: none;
}
.hero-wrapper button:hover{
    border: 2px solid;
    outline: 3px solid black;
    background-color: black;
    color: white;
}

@media screen and (min-width:320px) and (max-width:480px){
    .hero-wrapper{
        height: fit-content;
    }
    .content_wrapper{
        padding: 3.75rem 1.25rem;
    }
    .hero_content h2{
        font-size: 1.8rem;
    }
    .hero_content{
        max-width: 100%;
        padding: 0px;

    }
    .cat_list{
        display: none;
    }
    .hero-wrapper button{
        padding: 0.4rem 1.125rem;
        font-size: 12px;
    }
}