.shopContainer{
    padding: 10px 90px;
}
.shopwrapper{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100vh;
  
}
.bread{
    text-decoration: none;
}
.filterdiv{
  
    height: 100vh;
    flex:0 0 25%;
    height: 100vh;
    text-align: left;
    display: flex;
    flex-direction: column;

 
}
.filterinnerdiv{
    background-color: white;
    padding: 20px;
    height: 60vh;

}
.wishlist{
    height: 20vh;
    margin: 20px 0;
    background-color: white;
    padding: 20px;
}
.wishlist h5{
    padding-bottom: 1rem;
}


.shopheader{
    padding-bottom: 10px;
    border-bottom: 1px solid #8b8888;
}
.shopprice{
 
    padding: 10px 0;
    border-bottom: 1px solid #8b8888;
}
.selectdiv{
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}
.selectdiv select{
    border: none;
    width: 50%;
    padding: 4px 0;
    border-bottom: 2px solid;
}
.selectdiv select:active{
    border: none;
    outline: none;
}
.shopbrand{
    
}
.shopbrand .inputdiv{
    display: block;
    padding: 5px 0;
}
.productdiv{
    height: 100vh;
    background-color: white;
    flex: 0 0 70%;
   margin: auto;
  
}
.product-header{
    border-bottom: 1px solid #8b8888;
    padding:10px 20px 20px;
    text-align: left;

}

@media screen and (max-width:480px){
    .shopContainer{
        padding: 10px;
    }
    .filterdiv{
        display: none;
    }
    .productdiv{
        flex:0 0 100%;
        height: max-content;
    }
    .product-header{
        padding: 10px;
    }

    
}