.productwrapper {
    padding: 0.625rem 5.625rem;
}

.featproductdiv {
    background-color: white;
    height: max-content;
    width: 100%;
}

.innerfeatProductWrapper {
    display: flex;
    flex-wrap: wrap;

}

.catheader {
    padding: 10px 20px 0px 20px;

}

.innerfeatproductcomp {
    height: 250px;
    /* width: 100%; */
    /* max-width: 16.65%; */
    border: 1px solid #ebe7e7;
    padding: 1.6875rem 0.625rem;
}

.Innercontentproduct {
    width: 100%;
    max-width: 100%;

}

.proImage {
    height: 13vh;
    width: 100%;
    max-width: 70%;
    border-radius: 50%;
}


.product-detail {
    text-align: left;
    padding: 10px 0px;
}

.product-name {
    height: 7vh;
    padding: 2px 0;
}

.product-price {
    height: 5vh;
    padding: 2px 0;
}

.productbutton {
    width: 100%;
}

.productbutton button {
    width: 100%;
    padding: 8px 0;
    border: none;
    cursor: pointer;
}

.productbutton:hover button {
    /* background-color: black; */
    color: white;
}

.toastmessage {
    position: absolute;
    top: 10px;
    right: 20px;
}

@media screen and (min-width:320px) and (max-width:880px) {

    .innerfeatproductcomp {
        width: 100%;
        max-width: 50%;
        height: 55vh;
        margin: auto;
    }

    .cat h3 {
        font-size: 0.67rem;
    }

    .shopcategory {
        font-size: 0.7rem;
    }

    .Innercontentproduct {
        height: 18vh;
    }

    .product-name {
        height: 10vh;
    }

    .product-price {
        height: 10vh;
    }
}

@media screen and (max-width:600px) {


    .productwrapper {
        padding: 0 1.4rem;
    }
}

@media screen and (max-width:1024px) {
    .productwrapper {
        padding: 0.625rem 0;
    }
}